/*global*/
h1,h2,h3,h4,p{
    color: #fff!important;
}
h1,h2,h3{
    font-family: 'Cinzel';
}
hr{
    color: #fff;
}
/*menu*/
.menu{
    background-color: rgb(47, 47, 47)!important;
}
@media (min-width:992px){
    .menu-desk{
        width: 80%;

    }
    .navbar-expand-lg .navbar-collapse {
        flex-direction: row-reverse;
    }
}
.navbar-item-w{
    color: #fff!important;
}
.navbar-toggler{
    background-color: #fff;
}
.sticky {
    position: sticky;
    top: 0;
  }
/*hero*/
.hero-bal{
    padding: 120px 40px 120px 0px;
}
.hero-back{
    background-image: url(images/etterem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-image-cover{
    background-color: rgba(0, 0, 0, 0.635);
}
/*buttons*/
button{
    margin-right: 20px!important;
}
.btn-primary{
    background-color: rgb(5, 63, 93);
    border-color: rgb(5, 63, 93);
    text-transform: uppercase;
    padding: 15px 30px 15px 30px;

}
.btn-primary:hover{
    background-color: rgb(25, 87, 119);
    border-color: rgb(25, 87, 119);
}
.btn-outline-primary{
    border-color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 15px 30px 15px 30px;
    color: #fff;
}
.btn-outline-primary:hover{
    background-color: rgb(25, 87, 119);
    border-color: rgb(255, 255, 255);
}
.padding-gap{
    padding-bottom: 20px;
}
.featured-style{
    width: 80%; 
    padding: 80px 0px 80px 0px; 
    margin: auto;
}